body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}


.callout-container {
    height: 50vh;
    background: url(https://res.cloudinary.com/dvfyeucsp/image/upload/v1677081853/backround_goo3pz.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron {
    background: hsl(0, 2%, 83%);
    padding: 0.5rem;
    border-radius: 25px;
}

.card {
    border: none;
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.recipe-list {
    padding: 3rem;
}

.image-container {
    position: relative;
    text-align: center;
}

.image-container {
    text-align: center;
    margin-top: 1rem;
}

.card-img-top {
    width: 75%;
    height: 25vw;
    object-fit: cover;
}

.image-flash {
    text-align: center;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
}

.author {
    color: rgb(5, 5, 5);
    margin: 4px;;
}

.about-image {
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    width: 50%;
    aspect-ratio: 1/1;
}

.about-taste {
    align-items: center;
    padding: 2rem
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #ed3e03;
}

.back {
    position: relative;
    display: block;
    padding: 0.375rem 0.75rem;
    padding-inline-start: 40px;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s 
    ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #36f9f9;
}

.link {
    color: #36f9f9;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #f10b0b;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #0a0a0a;
    background: transparent;
    border: none;
}

.fab {
    color: #f3e6e6;
}