{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row text-center mt-3">
        <h1>Welcome to Eatopia</h1>
        <p>Welcome to Eatopia, where, you guessed it! We are creating a Utopia for all Foodies<br>
            Tasty meals for any budget, flavoursome dishes for all the family to enjoy! </p>
    </div>
    <div class="row mt-3 about-taste">
        <div class="col-6 text-center d-none d-md-block">
            <img class="about-image"
                src="https://res.cloudinary.com/dvfyeucsp/image/upload/v1677068373/satay_dq5zfa.jpg"
                alt="Satay Chicken">
        </div>
        <div class="col-md-6">
            <h4>All About Taste</h4>
            <p>The first thing any of think about when we are deciding what to eat is the taste,
                well here at Eatopia, we have made the decision a heck of a lot easier for youby providing 
                a platform for everyone to shar their tastiest recipes, theres sure something that will catch your eye,
                flavour is important, and here, flavour is evrything.
            </p>
        </div>
    </div>
    <div class="row mt-3 about-taste">
        <div class="col-6 text-center d-none d-md-block">
            <img class="about-image"
                src="https://res.cloudinary.com/dvfyeucsp/image/upload/v1677068381/pie_jkbys5.jpg"
                alt="Budget pie">
        </div>
        <div class="col-md-6">
            <h4>Budget Friendly</h4>
            <p>
                Of course we all love a tasty meal, but sometimes those fancy recipes can be a little harsh on the pocket,
                but what if there was a way to eat high end meals without breaking the bank, well now there is, the recipes 
                on Eatopia and budget and belly friendly!! Whether yor dining alone or feeding a family, our recipes will container
                to all your needs. 
            </p>
        </div>
    </div>
</div>

{% endblock %}