{% extends 'base.html' %} 
{% block content %}



<div class="container mt-4">

    <!-- Recipe details -->
    <div class="row">
        <div class="col-4">
            {% if "placeholder" in recipemodel.featured_image.url %}
            <img class="card-img-top"
                src="https://res.cloudinary.com/karinoldbring/image/upload/v1654954248/place-holder_ytttpj.jpg" alt="Vegan food">
            {% else %}
            <img class="card-img-top" src="{{ recipemodel.featured_image.url }}" alt="Vegan food">
            {% endif %}
        </div>
        <div class="col-6">
            <h1>{{ recipemodel.title }}</h1>
            <p>{{ recipemodel.excerpt }}</p>
            <p>{{ recipemodel.author }} | {{ model.updated_on}}</p>
            <p>Cooking time: {{ recipemodel.cooking_time }} min</p>
        </div>
    </div>
    <div class="row">
        <h5>Ingredients:</h5>
        <div class="col">{{ recipemodel.ingredients | safe }}</div>
    </div>
    <div class="row">
        <h5>Instructions:</h5>
        <div class="col">{{ recipemodel.instructions | safe }}</div>
    </div>
    <div class="row">
        <div class="col">
            <p class="card-text text-muted h6">{{ recipemodel.created_on}}</p>
        </div>
    </div>
    <hr class="block-divider">
    
    <!-- Comments -->
    <div class="row">
        <div class="col-6 comments">
            <h5>Comments:</h5>
            {% with comments.count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
                {{ total_comments }}</strong>
            {% endwith %}
            <div class="card-body">
                {% for comment in comments %}
                <div style="padding: 10px;">
                    <p><strong>{{ comment.author }}</strong>
                        wrote:</p>
                    {{ comment.body | linebreaks }}
                    <span class=" text-muted">
                        {{ comment.created_on }}
                    </span>
                </div>
                {% if request.user == comment.author %}
                <form method="POST" action="{% url 'delete_comment' comment.pk %}"> {% csrf_token %}
                    <input class="btn-sm btn-outline-danger" type="submit" value="Delete comment">
                </form>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <br /><br />
    <a href="{% url 'home' %}" class="back-button btn-default">Back</a>
</div>

{% endblock content %}